/*estilos del login y registro*/
body {
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
    min-height: 100vh;
}

.title-services {
    font-size: 40px;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    color: #00b4d8;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1rem;
}

.box-form {
    background-color: rgba(234, 234, 234, 0.7);
    padding: 2rem 3rem;
    border-radius: 15px;
    width: 50%;
}

.logoForm {
    width: 180px;
}

.message-error {
    color: tomato;
}

/*responsive*/
@media screen and (min-width: 996px) and (max-width: 1080px) {
    .title-services {
        font-size: 30px;
    }
    .box-form {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 996px) {
    .title-services {
        font-size: 30px;
    }
    .box-form {
        width: 80%;
    }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
    .title-services {
        font-size: 20px;
    }
    .box-form {
        width: 100%;
    }
}
