/*estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    min-height: 100vh;
    color: #eaeaea;
}
h3 {
    font-size: 18px;
    font-style: oblique;
    font-weight: 100;
    padding: 0rem 5rem;
    text-align: justify;
    color: #03045e;
}

/*top bar*/
.top-header-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00b4d8;
    color: #eaeaea;
    height: 3rem;
}
.text-top {
    font-size: 16px;
    text-align: center;
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 400;
    margin: 0.5rem;
    padding-right: 2rem;
}

/*navbar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 1rem 3rem 0 3rem;
}

.logo {
    width: 200px;
}

.ul-nav {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.li-class {
    font-family: "Work Sans Variable", sans-serif;
    color: #03045e;
    list-style: none;
    font-size: 14px;
    margin: 2rem;
    cursor: pointer;
    border-style: none;
}
.viewHome {
    border-style: none;
    background: transparent;
}
.viewServices {
    border-style: none;
    background: transparent;
}

.services-btn {
    font-family: "Work Sans Variable", sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #00b4d8;
    color: #eaeaea;
    width: 150px;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.services-btn:hover {
    transform: scale(1.1);
}

/*sección uno*/
.navbar input.form-control {
    width: 300px;
}

/*sección dos*/
.section-two {
    background-color: #edf6f9;
    min-height: 600px;
}
/*card servicios home*/
.container-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}

.card {
    display: flex;
    flex-direction: column; /* Alinear el contenido verticalmente */
    justify-content: space-between; /* Espaciar el contenido verticalmente */
    align-items: center;
    width: 300px;
    margin: 1.5rem;
    background-color: #edf6f9;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 2px 3px #888888;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.name-service {
    margin-top: 1rem;
}
.detail-service {
    font-size: 12px;
    text-align: justify;
    margin: 1rem 1.5rem;
}
.btn-services {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    background: #00b4d8;
    color: #eaeaea;
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: transform 0.2s ease;
}
.btn-services:hover {
    transform: scale(1.1);
}

/*sección tres*/
.cart-container {
    min-height: 50vh;
}
.title-services {
    font-size: 40px;
    font-weight: 600;
    padding: 3rem;
    text-align: center;
    color: #03045e;
}
.cart-box .list-group {
    margin: 1rem;
}
.list-group {
    width: 200px;
    margin-right: 1rem;
    list-style: none;
}
.list-service {
    width: 400px;
}

.btn-finalize {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    background: #00b4d8;
    color: #eaeaea;
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    margin: 0 1rem 2rem 0;
    transition: transform 0.2s ease;
}
.btn-finalize:hover {
    transform: scale(1.1);
}

/*footer*/
footer {
    background-color: #03045e;
    color: #eaeaea;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
